!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %meta{charset: 'utf-8'}/
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}/
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}/
    %link{rel: 'stylesheet', type: 'text/css', href: '/vendor/bootstrap/css/bootstrap.css'}/
    %link{rel: 'stylesheet', type: 'text/css', href: '/stylesheets/application.css'}/
    %title Vrrim! The Kéfir Hyperbandoneon
  %body
    .container
      .row
        .col-lg-2.col-md-2

        .col-lg-8.col-md-8
          %h1 Vrrim!

        .col-lg-2.col-md-2
          %p
          %a{href: 'cuidados'} ES


      .row
        .col-lg-2.col-md-2
        .col-lg-8.col-md-8

          %h2 Care policy

          %p

            Many people can have an interest in what you're doing over the
            Internet: your government, its "super secret" surveillance
            programs, corporations, or even your ex o a creepy stalker.
            At
            %a{href: 'https://kefir.red'} Kéfir
            we worry about your privacy, so we intend to
            register the least amount of data about your travel around our
            islands.  This way, when the day comes where someone asks us
            if we saw you pass by, we can calmly say: "I have no idea"

            %strong ¯\_(?)_/¯

          %p
            To take care of each other:

          %ul
            %li

              We don't register any IP address, so we can't know if you
              were or weren't here, if you were using Tor or a VPN.

            %li

              We won't ask you to register an account, or to use your
              account from somewhere else, to be able to use vrr.im

            %li

              In fact, we don't know who uses vrr.im, so it's not worth to
              even ask.

            %li

              We won't publish the full list of unshortened URLs, in case
              you didn't want to share them publicly.  This doesn't mean
              URLs are secret, so if you don't want for anybody to know
              them --not even by chance!--, except for your trusted
              contacts where we aren't included, then don't use vrr.im, at
              least for now!

            %li

              When you open a link, you don't really know where it may
              take you, even more when you use a shortener like vrr.im
              that is masking another link.  You may land in a place that
              will surprise you.  The issue is when it takes you to a
              malevolent download like a virus, or a web page that takes
              the appereance of another (phishing), which sadly happens
              often in the Internet :(

          %p

            Vrr.im tries to check if an unshortened URL is blacklisted as
            malware or phishing.  If we find out it is, we'll simply
            discard it.  But there's always room for error!  We recommend
            you to not open shortened URLs, from vrr.im and from others,
            if you don't trust the source.

          %p

            If you find this text lacking, or abundant, or difficult to
            understand, please write an email to vrrim@kefir.red.  If you
            happen to encrypt your email using GPG, you can download our

            %a{href: 'https://kefir.red/hola@kefir.red.asc'}
              public key.

            Its fingerprint is 5FEC 6BD7 0E89 8733 8010  BEC7 FE92 B540
            CC33 769E.

          %p
            If you're curious about how vrr.im works,
            %a{href: 'https://0xacab.org/itacate-kefir/vrrim/'}
              you can check it out here!


          %p
            %a.strong{href: 'indexEN'}
              «« Ok, I want to shorten something :)

          .col-lg-2.col-md-2
