!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %meta{charset: 'utf-8'}/
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}/
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}/
    %link{rel: 'stylesheet', type: 'text/css', href: '/vendor/bootstrap/css/bootstrap.css'}/
    %link{rel: 'stylesheet', type: 'text/css', href: '/stylesheets/application.css'}/
    %title Vrrim! El hiperbandoneón de Kéfir
  %body
    .container
      .row
        .col-lg-2.col-md-2

        .col-lg-8.col-md-8
          %h1 Vrrim!

        .col-lg-2.col-md-2
          %p
          %a{href: 'care'} EN

      .row
        .col-lg-2.col-md-2
        .col-lg-8.col-md-8

          %h2 Política de cuidados

          %p

            Puede haber muchas gentes interesadas en saber qué estás
            haciendo en internet: tu gobierno, programa "ultrasecretos" de
            espionaje, multinacionales, incluso tu ex o un stalker creepy.
            En
            %a{href: 'https://kefir.red/'} Kéfir
            nos preocupa tu privacidad, por eso intentemos
            registrar la menor cantidad de datos posible sobre tu paso por
            nuestras islas.  De esta forma, el día que alguien nos
            pregunte si te vimos pasar, podemos decir con calma: "no tengo
            idea"
            %strong ¯\_(?)_/¯

          %p
            Para cuidarnos mutuamente:

          %ul
            %li
              No registramos
              %a{href: 'https://wiki.kefir.red/IP'} direcciones IP
              de forma que no sabemos si estuviste o no estuviste, si
              usaste
              %a{href: 'https://wiki.kefir.red/Tor'} Tor
              o una
              %a{href: 'https://wiki.kefir.red/VPN'} VPN.

            %li
              No te pedimos que registres una cuenta, o que asocies una
              cuenta que tengas en otro lado, para poder usar vrr.im

            %li
              En definitiva, no sabemos quién usa vrr.im, no vale la pena
              que nos preguntes.

            %li
              No publicamos la lista completa de URLs a acortar, por si no
              querías que alguien supiera las tuyas.  Esto no quiere decir
              que las URLs sean secretas, así que si no quieres que nadie
              \--ni por casualidad-- las sepa (salvo contactos de confianza
              donde no estamos incluidas), entonces no uses vrr.im, ¡al
              menos por ahora!

            %li
              Cuando abres un link, en realidad no sabes a dónde te está
              llevando, sobre todo en caso de los acortadores que en
              realidad te están redireccionando a otro link. Puede ser que
              aterrices simplemente en un lugar nada que ver y hasta te
              divierta la sorpresa. El problema es cuando te encuentras
              con algo malicioso como la descarga de un virus o una página
              que "se hace pasar por otra" (phishing) y esto pasa mucho en
              internet :(

          %p
            Vrrim checa que las URLs a acortar no estén en listas de
            distribución de malware o phishing.  Si descubrimos que la URL
            contiene o distribuye algo malevolente, simplemente la
            descartaremos.  Pero siempre hay lugar a error, ¡claro!  Así
            que te recomendamos no abrir URLs cortas, ni las de vrr.im  ni
            las de otras plataformas, si la fuente no es de confianza.

          %p

            Si te parece que a este texto le falta algo, o le sobra, o no
            se entiende, escríbenos a vrrim@kefir.red.  Si cifras tu
            correo con GPG,

            %a{href: 'https://kefir.red/hola@kefir.red.asc'}
              puedes descargar nuestra llave pública,

            la huella es 5FEC 6BD7 0E89 8733 8010  BEC7 FE92 B540 CC33
            769E.

          %p
            %a.strong{href: 'index'}
              «« Va, voy a acortar algo :)

          .col-lg-2.col-md-2
