!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %meta{charset: 'utf-8'}/
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}/
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}/
    %link{rel: 'stylesheet', type: 'text/css', href: '/vendor/bootstrap/css/bootstrap.css'}/
    %link{rel: 'stylesheet', type: 'text/css', href: '/stylesheets/application.css'}/
    %title Vrrim! The Kéfir Hyperbandoneon
  %body
    %nav.navbar
      .container-fluid
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{href: '/'} ES
          %li
            %a{href: 'https://bazar.kefir.red/'} Support Kéfir
    .container
      .row
        .col-xs-8.col-lg-6.col-md-5
          %h1 Vrrim!

      .row
        .col-xs-12.col-lg-5.col-md-6.col-md-offset-6
          %h2

            Hi!  Someone has been abusing vrrim to distribute phishing,
            so we've decided to disabled the shortening of URLs while we
            find out how to prevent this.  The old URLs are still
            working :)

      .row
        .col-xs-12.col-lg-12.col-md-12{style: 'z-index: -1000'}
          %img.img-responsive{src: '/img/bandoneoncillo_web.png', width: '1000px'}

      .row
        .col-xs-12.col-lg-12.col-md-12
          %h3
            %strong we don't follow you
            no accounts, no logs, no smallprint ;)
            %strong.visible-md-inline
              %a{ href: '#continua' } click here to keep on reading...

      .row#continua{style: 'z-index: -1000'}
        .col-xs-12.col-lg-4.col-md-4
          %h2 How we look after eachother ♥
          %h3 Read our care policy for allbeings and multispecies
          %a{ href: '/care' } here

        #ente.col-xs-12.col-md-12
          %img.img-responsive{src: '/img/ente_web.png'}
        #cuentame.col-lg-6.col-md-6.col-md-offset-6
          %h2 Tell me about Vrrim

          %p

            We like 2shrtn, see? Sometimes we ssstrreeettcchhh too. We
            play with shapes, space, distances... Maybe one day we will
            make a url longener too :)

          %p

            In internet we economize characters for many things: for
            tweets and

            %a{href: 'https://quitter.se/'} queets,

            artistic winks, a letter for some mailbox out there... A url
            shortener basically grabs a link and "translates" it into a
            more compact one. What happens behind the scenes is the
            software generates an entry in a data table which associates
            both links. So, when I open the short link, the shortener
            redirects me to the "original" link.  Like those old women
            in the village square that knows everyone's nicknames :)

          %p

            Simple. Right? But... have you read the small print that
            services like Bit.ly and Tinurl have? Basically, they say
            that, not only do they know where and how we "surf" but they
            also share this profitable snooping  with others (their
            "customers" and "business partners"). And when we say
            profitable, we're talking about millions: Bit.ly was
            expecting a twenty million dollar revenue in 2016.  Of
            course, they phrase it as "for the sake of providing you a
            better free service". With every blink, with every click we
            fatten their pockets.

          %p

            And, look out, they can "turn off the lights". In their
            Terms of Service they point out that they can hold off from
            providing service to piracy, pornography or whatever... but,
            of course, they're too cynical to be moral gatekeepers...
            but if "someone" breaths on their neck enough, they could
            just hand you in or cut your link off the net... A floating
            satellite forgotten in cyberspace.

          %p

            Ah, one more thing. That button or link you click with ease,
            without wanting to instill paranoia, could lead you to
            whoknowswhere. Try it out: hover on it before clicking and
            check out what it says. Short urls are specially
            "mysterious". Plenty of malicious code and phishing attempts
            (when they pretend to be your bank, for ex.) "mask" their
            attacks in these types of links.

          %p

            So, should we use shorteners? Internet is full of dark
            alleyways and we aren't going to stop "occupy these streets"
            because of that. Thats why building digital commons in
            autonomous servers is a way of seeding circles of trust and
            freedom. 

          %p.finalnote
            Read
            %a{href: '/care'} here
            how
            %a{href: 'https://kefir.red'} Kéfir
            tends
            %a{href: 'https://vrr.im'} vrr.im




      .row
        %footer
          Kéfir, feminist libre tech co-op »
          %a{ href: 'https://kefir.red/indexEN' } https://kefir.red
