!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %meta{charset: 'utf-8'}/
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}/
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}/
    %link{rel: 'stylesheet', type: 'text/css', href: '/vendor/bootstrap/css/bootstrap.css'}/
    %link{rel: 'stylesheet', type: 'text/css', href: '/stylesheets/application.css'}/
    %title Vrrim! El hiperbandoneón de Kéfir
  %body
    %nav.navbar
      .container-fluid
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{href: '/indexEN'} EN
          %li
            %a{href: 'https://bazar.kefir.red/'} Apoya a Kéfir
    .container
      .row
        .col-xs-8.col-lg-6.col-md-5
          %h1 Vrrim!

      .row
        .col-xs-12.col-lg-5.col-md-6.col-md-offset-6

          %h2

            Hola! Las URLs de vrrim siguen funcionando pero hemos
            deshabilitado nuevas ya que algún aprovechado ha estado
            abusando de nuestra buena onda, usando vrrim para distribuir
            URLs de phishing :(

          %h2

            Mientras resolvemos la situación, la creación de URLs estará
            deshabilitada.

      .row
        .col-xs-12.col-lg-12.col-md-12{style: 'z-index: -1000'}
          %img.img-responsive{src: '/img/bandoneoncillo_web.png', width: '1000px'}

      .row
        .col-xs-12.col-lg-12.col-md-12
          %h3
            %strong no te seguimos
            sin cuentas, sin logs, sin letra pequeña ;)
            %strong.visible-md-inline
              %a{ href: '#continua' } clic aquí para seguir leyendo...

      .row#continua{style: 'z-index: -1000'}
        .col-xs-12.col-lg-4.col-md-4
          %h2 Cómo nos cuidamos ♥
          %h3 Lee las políticas de cuidado para entes y multiespecies
          %a{ href: '/cuidados' } aquí
        #ente.col-xs-12.col-md-12
          %img.img-responsive{src: '/img/ente_web.png'}
        #cuentame.col-lg-6.col-md-6.col-md-offset-6
          %h2 Cuéntame sobre Vrrim

          %p

            Nos gusta acortar, lo peq. Lohacemot'ol rato. ¿Viste? Y a
            veces también aaallarrggarmmoooss. Jugar con las formas, el
            espacio, las distancias... Quizás un día creamos un
            alargador de urls también :)

          %p

            En internet economizamos caracteres para muchas cosas: para
            un tweet o

            %a{href: 'https://quitter.se/'} queet,

            para un guiño gráfico, una cartita para algún buzón... Un
            acortador de url básicamente toma un link y lo "traduce" a
            uno corto. Lo que sucede entre bambalinas es que se
            genera una entrada en una tabla (base de datos) donde se
            asocia los dos links. Así que, cuando abro el link
            corto, el acortador me redirecciona al link "original". Como
            esas viejecitas que se saben todos los apodos de las
            personas del pueblo :)')

          %p

            Hasta ahí sencillo. Pero... ¿alguna vez leíste la letra
            pequeña de servicios como Bit.ly y Tinyurl? En resumen, nos
            dicen que no sólo pueden saber quién va a dónde y
            cuándo sino que pueden compartir esa fisgoneo lucrativo con
            otros (sus "customers" y "business partners"). Y
            cuando decimos lucrativos, hablamos de millones: Bit.ly
            esperaba ingresar en sus arcas veinte millones de
            dólares en 2016. Claro que se escudan en "lo hacemos para
            proveerte un mejor servicio gratuito". En cada parpadeo, en
            cada click, engordamos sus bolsillos.

          %p

            Y, ojo, pueden cortarte el grifo. En sus Términos de
            Servicio también señalan que pueden abstenerse de servir
            ciertos contenidos por motivos de piratería o
            pornografía o quéséyo... pero claro, son demasiado cínicos
            para ser guardianes de la moral... pero, si el
            aliento se les acerca al cuello y les dicen "corta ese
            (hiper)hilo"... quizás lo hagan y ese link queda roto y con
            él los contenidos como satélites olvidados en el
            ciberespacio.

          %p

            Ah, una cosita más. Ese botoncito o ese link que cliqueas
            con tanta soltura, sin ánimo de inspirar paranoia, pero
            podría llevarte a cualquier parte. Haz la prueba y coloca
            primero el cursor encima para ver qué dice... En caso de los
            urls cortos, no puedes saber por qué caminito vas a tirar.
            Muchos ataques de código malicioso y phishing (eso de que se
            hacen pasar por tu banco, por ej.) se "enmascaran" con este
            tipo de urls.

          %p

            Y entonces, ¿no deberíamos usar acortadores? Internet está
            plagado de callejones oscuros y no por ello vamos a dejar de
            habitarla. Por eso, construir bienes comunes desde
            servidores autónomos es una manera de sembrar círculos de
            confianza y libertad. 

          %p.finalnote
            Lee
            %a{href: '/cuidados'} aquí
            cómo
            %a{href: 'https://kefir.red'} Kéfir
            cuida de 
            %a{href: 'https://vrr.im'} vrr.im




      .row
        %footer
          Kéfir, cooperativa feminista de tecnologías libres »
          %a{ href: 'https://kefir.red/' } https://kefir.red
