!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %meta{charset: 'utf-8'}/
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}/
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}/
    %link{rel: 'stylesheet', type: 'text/css', href: '/vendor/bootstrap/css/bootstrap.css'}/
    %link{rel: 'stylesheet', type: 'text/css', href: '/stylesheets/application.css'}/
    %title Vrrim! El hiperbandoneón de Kéfir
  %body
    .container-fluid
      .row
        %h1 Vrrim!

      .row
        %h2 ¡Parece que te dieron una URL con malware!
        %p
          Puedes ver más detalles aquí
          %a{href: @phish}= @phish
      .row
        %footer
          Kéfir, cooperativa feminista de tecnologías libres »
          %a{ href: 'https://kefir.red' } https://kefir.red
          \--
          %a{href: '/privacidad'} política de privacidad
