body {
    background-color: #ddfcee;
    font-family: Helvetica;
}


.top {
     background-image: url("../img/ente_web_top.png");
     background-repeat: no-repeat;
     height: 536px;
}	


.bottom {
     background-image: url("../img/ente_web_bottom.png");
     background-repeat: no-repeat;
     height: 784px;
}	

form, footer {
    margin: auto;
    text-align: center;
    font-family: Helvetica;
}

input {
    font-family: Courier;
    font-size: 22px;
    font-weight: 700;
}


h1 {
    color:#f10f41;
    font-size: 20vh;
}


h2 {
    color:#f10f41;
    font-size: 9vh;
}

h2.shorturl {
    font-weight: 700;
    text-align: center;
}

p, li {
    font-size: 4vh;
}


p.finalnote {
    padding-top: 50px;
}

.btn, .input {
    font-size: 20px;
    font-weight: 700;
}

a {
   color:#e9193e;
   text-decoration: none !important;
   font-size: 4vh;

}

a:hover {
   color:#00d9a6;
}

a.strong {
   font-weight:700;

}

footer {
   color:#e9193e;
   padding: 80px 0;
   font-size: 4vh;

}

.text {
  text-align: left
}

.navbar {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  #ente {
    margin-top: -200px;
    z-index: -2000;
  }

  #cuentame {
    margin-top: -800px;
  }

  .navbar {
    margin-bottom: -52px;
  }
}
